@model List<TransportWeb.Models.ViewData_StopTransports>

@{
    ViewBag.Title = TransportWeb.Utils.Localization.getText(Context, "stops");
}

<h2>@TransportWeb.Utils.Localization.getText(Context, "stops")</h2>

<form method="get" action="/Stops/" onsubmit="return false;">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="search" name="q" class = "form-control" placeholder="@TransportWeb.Utils.Localization.getText(Context, "search")" value="@ViewBag.searchString" >
                    <span class="input-group-addon">
                        <button type="submit" onclick="window.location.href=this.form.action + this.form.q.value;">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="list-group">
    @foreach (var stop in Model)
    {
        <a class="list-group-item" onclick="location.href='/Stop/@stop.Stop.Id';">
            <h4 class="list-group-item-heading">@stop.Stop.Name</h4>
            <p class="list-group-item-text">
                @foreach (var normal in stop.NormalTransport)
                { 
                    <span class="label label-default">@normal.Number</span>
                }
                @foreach (var express in stop.ExpressTransport)
                {
                    <span class="label label-danger">@express.Number</span>
                }
            </p>
        </a>
    }
</div>
