@model TransportWeb.Models.ViewData_TransportRoutes
@{
    ViewBag.Title = TransportWeb.Utils.Localization.getText(Context, "transport");
}

<h2>@(Model.Transport.Type == "normal" ? TransportWeb.Utils.Localization.getText(Context, "transport") : TransportWeb.Utils.Localization.getText(Context, "express")) @Model.Transport.Number</h2>

<div class="row">
    <div class="col-md-6">
        <h3>@TransportWeb.Utils.Localization.getText(Context, "route-list")</h3>
        <div class="list-group">
            @foreach (var route in Model.Routes)
            {
                <a class="list-group-item @(route.Selected ? "active" : "")" href="/Transport/@Model.Transport.Id/@route.Route.Id">
                    @route.Route.Name
                </a>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h3>@TransportWeb.Utils.Localization.getText(Context, "stop-list")</h3>
        <div class="list-group">
            @foreach (var stop in Model.Stops)
            {
                <div class="list-group-item">
                    @stop.Name
                </div>
            }
        </div>
    </div>
</div>





