@model List<TransportWeb.Models.ViewData_TransportRoute>

@{
    ViewBag.Title = TransportWeb.Utils.Localization.getText(Context, "transports");
}

<h2>@TransportWeb.Utils.Localization.getText(Context, "transports")</h2>

<div class="list-group">
    @foreach (var transport in Model)
    {
        <a href="/Transport/@transport.Transport.Id" class="list-group-item">
            <h4 class="list-group-item-heading">
                @if (transport.Transport.Type == "normal")
                {
                    @TransportWeb.Utils.Localization.getText(Context, "transport")
                    <span class="label label-default">@transport.Transport.Number</span>
                }
                else
                {
                    @TransportWeb.Utils.Localization.getText(Context, "express")
                    <span class="label label-danger">@transport.Transport.Number</span>
                }
            </h4>
            <p class="list-group-item-text">
                @transport.FirstRoute.Name
            </p>
        </a>
    }
</div>

